# Data Programming Problem set 2

### Question 1
#### Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
##### >>> b()
##### >>> b()
##### >>> b()
###### >>> a

What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

### Answer 
#####  when last expression a is evaluated then answer will be 6 as in each execution the changed value of a is stored in c(a) and with function c(a) 
a+2 executing b(a) three times so answer is 6 as

0+2=2 ,
2+2=4 ,
4+2=6

### Question 2
##### Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:
###### >>> fileLength('midterm.py')
284
###### >>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
###### >>> fileLength('midterm.py')
358
###### >>> fileLength('idterm.py')
File idterm.py not found.

In [1]:
def fileLength(fileName):
    try:
        infile = open(fileName, 'r')
        return len(infile.readlines())
    except IOError:
        print('Sorry File',fileName,'not found try again.')

In [2]:
fileLength('python1.txt')

Sorry File python1.txt not found try again.

In [3]:
fileLength('word.txt')

120

### Question 3
##### Write a class named Marsupial that can be used as shown below:
###### >>> m = Marsupial()
###### >>> m.put_in_pouch('doll')
###### >>> m.put_in_pouch('firetruck')
###### >>> m.put_in_pouch('kitten')
###### >>> m.pouch_contents()
###### ['doll', 'firetruck', 'kitten']

In [4]:
class Marsupial:
    def __init__(self):
        'initiates an empty list'
        self.pouch = []

    def put_in_pouch(self, item):
        'add items to the pouch'
        self.pouch.append(item)
        
    def pouch_contents(self):
        'returns pouch contents'
        return self.pouch

In [5]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [6]:
class Kangaroo(Marsupial):
    def __init__(self, a, b):
        'initiates a and b coordinates'
        Marsupial.__init__(self)
        self.a = a
        self.b = b
    
    def jump(self, da, db):
        'jumps coordinate along a and b axes'
        self.a += da
        self.b += db
    
    def __str__(self):
        'returns string representation'
        return 'I am a Kangaroo located at coordinates ({}, {})'.format(self.a, self.b)

In [7]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0, 0)

In [8]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [9]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3, 0)

### Question 5
##### Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
x = {ð‘¥/2 ð‘–ð‘“ ð‘¥ ð‘–ð‘  ð‘’ð‘£ð‘’ð‘›

     3ð‘¥ + 1 ð‘–ð‘“ ð‘¥ ð‘–ð‘  ð‘œð‘‘d
     
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
###### >>> collatz(1)
1
###### >>> collatz(10)
10

5

16

8

4

2

1

In [10]:
def collatz(x):
    print(int(x))
    if x <= 1:
        return
    elif x % 2 == 0:
        x = x / 2
    else:
        x = 3*x + 1
    collatz(x)

In [11]:
collatz(1)

1

In [12]:
collatz(10)

10
5
16
8
4
2
1

In [13]:
collatz(4)

4
2
1

### Question 6
##### Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.
##### >>> binary(0)

0

##### >>> binary(1)

1

##### >>> binary(3)

11

##### >>> binary(9)

1001

In [14]:
def binary(n):
    if n >= 1:
        print(n % 2, end='')
        binary(n // 2)

In [15]:
binary(1)

1

In [16]:
binary(3)

11

In [17]:
binary(9)

1001

In [18]:
binary(23)

11101

### Question 7
#### Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.
##### >>> infile = open('w3c.html')
##### >>> content = infile.read()
##### >>> infile.close()
##### >>> hp = HeadingParser()
##### >>> hp.feed(content)
##### W3C Mission
##### Principles

In [24]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.tag = '' 
        
    def handle_starttag(self, tag, attrs):
        self.tag = tag

    def handle_data(self, data):
        if self.tag == 'h1':
            print(data, end='')
        elif self.tag == 'h2':
            print(' '+data, end='')
        elif self.tag == 'h3':
            print('  '+data, end='')
        elif self.tag == 'h4':
            print('   '+data, end='')
        elif self.tag == 'h5':
            print('    '+data, end='')
        elif self.tag == 'h6':
            print('     '+data, end='')

In [31]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

UnicodeDecodeError: 'charmap' codec can't decode byte 0x81 in position 17869: character maps to <undefined>

### Question 8
#### Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.
#### >>> webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html

http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

http://reed.cs.depaul.edu/lperkovic/csc242/test3.html

http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [21]:
from urllib.parse import urljoin
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links
from urllib.request import urlopen
def analyze(url):
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    return collector.getLinks()

In [22]:
visited = set()
def webdir(url, depth, indent):
    global visited
    
    if depth == 0:
        return
    print(' '*indent, url)
    indent += 1
    depth -= 1
    
    visited.add(url)
    links = analyze(url)
    # recursively continue crawl from every link in links
    for link in links:
        # follow link only if not visited
        if link not in visited:
            try:
                webdir(link, depth, indent)
            except:
                pass

In [23]:
webdir('http://reed.cs.depaul.edu/lperkovic/' , 2 ,0)

 http://reed.cs.depaul.edu/lperkovic/
  http://www.cdm.depaul.edu/about/Pages/School-of-Computing.aspx
  http://www.cdm.depaul.edu
  https://reed.cs.depaul.edu/lperkovic/courses/csc321/
  https://reed.cs.depaul.edu/lperkovic/courses/csc421/
  http://reed.cs.depaul.edu/lperkovic/papers/papers.html

### Question 9
#### Write SQL queries on the below database table that return:
##### â€ƒa) All the temperature data.
##### â€ƒb) All the cities, but without repetition.
######  c) All the records for India.
##### â€ƒd) All the Fall records.
##### â€ƒe) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
##### â€ƒf) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
#####    g) The total annual rainfall for Cairo.
#####   h) The total rainfall for each season.

In [32]:
import sqlite3 as sqlite
con = sqlite.connect('web.db')
cur = con.cursor()

In [33]:
cur.execute('CREATE TABLE climate(City text, Country text, Season text, Temperature float, Rainfall float)')

OperationalError: table climate already exists

In [34]:
# creating table
records = [('Mumbai','India','Winter', 24.8, 5.9),
('Mumbai','India','Spring', 28.4, 16.2),
('Mumbai','India','Summer', 27.9, 1549.4),
('Mumbai','India','Fall',27.6 ,346.0),
('London','United Kingdom','Winter', 4.2, 207.7),
('London','United Kingdom','Spring', 8.3, 169.6),
('London','United Kingdom','Summer', 15.7, 157.0),
('London','United Kingdom','Fall', 10.4, 218.5),
('Cairo','Egypt','Winter', 13.6, 16.5),
('Cairo','Egypt','Spring', 20.7, 6.5),
('Cairo','Egypt','Summer', 27.7, 0.1),
('Cairo','Egypt','Fall',22.2, 4.5)]

In [35]:
for record in records:
    cur.execute('INSERT INTO climate values(?,?,?,?,?)', record)

#### A)

In [36]:
cur.execute('SELECT Temperature FROM climate')

cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

#### B)

In [37]:
cur.execute('SELECT DISTINCT(City) FROM climate')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

#### C)

In [38]:
cur.execute('SELECT * FROM climate WHERE Country = "India"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

#### D)

In [39]:
cur.execute('SELECT * FROM climate WHERE Season = "Fall"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

#### E)

In [41]:
cur.execute('SELECT City, Country, Season FROM climate WHERE Rainfall between 200 AND 400')
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

#### F)

In [42]:
cur.execute('SELECT City, Country FROM climate WHERE Season="Fall" AND Temperature > 20 ORDER BY Temperature DESC')
cur.fetchall()

[('Mumbai', 'India'), ('Cairo', 'Egypt')]

#### G)

In [43]:
cur.execute('SELECT SUM(Rainfall) FROM climate WHERE City= "Cairo"')
cur.fetchall()

[(27.6,)]

#### H)

In [44]:
cur.execute('SELECT Season, SUM(Rainfall) FROM climate GROUP BY Season')
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

### Question 10
####  Suppose list words is defined as follows:
#### >>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words)

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [45]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

#### A)

In [46]:
words_a = [word.upper() for word in words]
words_a

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

#### B)

In [47]:
words_b = [word.lower() for word in words]
words_b

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#### C)

In [48]:
words_c = [len(word) for word in words]
words_c

[3, 5, 5, 3, 5, 4, 3, 4, 3]

#### D)

In [49]:
words_d = [[word.upper(), word.lower(), len(word)] for word in words]
words_d

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

#### E)

In [50]:
words_e=[word for word in words if len(word)>=4]
words_e

['quick', 'brown', 'jumps', 'over', 'lazy']